<div class="Hero">
    <div class="container">
        <p>&nbsp;</p>
        <div class="txt-wrpp">
            <h1>Get Your Student Bank Account In Minutes!</h1>
            <p>&nbsp;</p>
            <h5>Save time by using your camera phone to send us a proof of address and a selfie.</h5>
            <h5>We also need your UCAS student number, so make sure you have it to hand.</h5>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <a href="" class="btn btn-impact btn-xlarge">VIDEO CALL</a>
        <p class="mobile-on">&nbsp;</p>
        <a href="/#/chat" class="btn btn-xlarge">LIVE CHAT</a>
        <p>&nbsp;</p>
        <a href="" class="btn btn-xlarge">VISIT BRANCH</a>
        <p>&nbsp;</p>
    </div>
</div>
