<div class="Navigation dynamic-nav">
    <div class="container">
        <div class="pre-hdr">
            <img src="~/Content/Images/logo.jpg" class="brand" />
            <a href="#/" class="home mobile-no"><i class="icon-home"></i></a>
            <ul class="pre-nav mobile-no">
                <li><a href=""><i class="icon-mobile2"></i></a></li>
                <li><a href=""><i class="icon-user"></i></a></li>
                <li><a href=""><i class="icon-search"></i></a></li>
                <li><a href=""><i class="icon-pencil"></i></a></li>
            </ul>
            <ul class="pre-nav mobile-on">
                <li class="button"><a href=""><i class="icon-menu"></i></a></li>
            </ul>
        </div>
        <ul class="nav">
            <li><a href="#/"><i class="icon-home"></i><br />Home</a></li>
            <li><a href=""><i class="icon-link"></i><br />Connect</a></li>
            <li><a href=""><i class="icon-image"></i><br />Discover</a></li>
            <li><a href=""><i class="icon-user"></i><br />Me</a></li>
        </ul>
    </div>
</div>